.GUI {
    width: 50%;
    height: 400px;
    padding-left: 20px;
    background-color: rgb(247, 247, 247);
    border: 2px solid black;    
  }

/* 
  #suggestionsList {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
 */

/* #suggestionsList div {
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 1px; 
    text-align: left; 
    font-size: 8px; 
    color: #333; 
    margin-top: 1px; 
}
 */
  
